@{
    ViewData["Title"] = "Autores: ";
}
<h1>@ViewData["Title"]</h1>

<p>
    Eduardo Martiniano
    <br/>
    Ezequiel Alves
    <br/>
    Carlos Alberto
    <br/>
    João Pedro
    <br/>
    Beckenbauer Rijiirkd
    <br/>
    Guilherme Santana
    <br/>
    Bruno Batista
    <br/>
    Celso Magalhães
</p>
