@{
    ViewData["Title"] = "Autores: ";
}
<h1>@ViewData["Title"]</h1>

<p>
    Eduardo de Souza Martiniano Mendonça
    <br/>
    Ezequiel Alves dos Santos Junior
    <br/>
    Carlos Alberto Mendonça Vasconcelos
    <br/>
    João Pedro Mendonça Oliveira
    <br/>
    Beckenbauer Rijiirkd Silva Santos
    <br/>
    Guilherme Santana
    <br/>
    Bruno Batista
    <br/>
    Celso Pinheiro Magalhães Filho
</p>
