@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div class="container">
    <aside class="row justify-content-center align-items-center">
        <aside class="col-sm-4">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1">Criar uma nova tarefa</h4>
                    <form method="post">
                        <div class="form-group">
                            <label>Nome da tarefa</label>
                            <input name="nome" placeholder="Nome" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>Descrição</label>
                            <input name="descricao" class="form-control" placeholder="Descreva os os detalhes" type="text">
                        </div>
                        <div class="form-group">
                            <label>Relacionar com o projeto</label>
                            <select name="projetoId" class="form-control">
                                @foreach (var item in ViewBag.Projetos)
                                {
                                    <option value="@item.Id">@item.Nome</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <select name="status" class="form-control">
                                <option value="0">Backlog</option>
                                <option value="1">Sprint</option>
                                <option value="2">Andamento</option>
                                <option value="3">Revisão</option>
                                <option value="4">Concluida</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Data de inicio</label>
                            <input name="DataInicio" class="form-control" type="date" />
                        </div>

                        <div class="form-group">
                            <label>Previsão de termino</label>
                            <input name="DataFim" class="form-control" type="date" />
                        </div>

                        <div class="form-group">
                            <button type="submit" action="tarefa/cadastro" class="btn btn-primary btn-block">Cadastrar</button>
                        </div>
                    </form>
                </article>
            </div>
        </aside>
    </aside>
</div>