@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 style="text-align:center">Projetos</h2>
<a href="/projeto/criar" class="btn btn-success">Propor um novo projeto</a>
<hr />
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Inicio</th>
            <th scope="col">Previsão de termino</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var projeto in ViewBag.Projetos)
        {
            <tr>
                <th scope="row">@projeto.Nome</th>
                <td>@projeto.Descricao</td>
                <td>@projeto.DataInicio</td>
                <td>@projeto.DataFim</td>
                <td>
                    <a href="/tarefa/todas/@projeto.Id" class="btn btn-success">Abrir</a>
                    @if (projeto.Responsavel.Id == EngSoftware.Models.Usuario.Usuario._usuario.Id)
                    {
                        <a href="/projeto/editar/@projeto.Id" class="btn btn-primary">Editar</a>
                        <a href="/projeto/excluir/@projeto.Id" class="btn btn-danger">Excluir</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>